<%- include ("../partials/header") %>


<div class="row">
    <div class="col-md-12 text-center mb-3">
        <h1>Create a New Campground</h1>
    </div>    
    <div class="col-md-6 m-auto">
        <form action="/campgrounds" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Campground name" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input class="form-control" type="number" name="price" id="price" placeholder="Price per night" min="0.01" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input class="form-control" type="text" name="image" id="image" pattern="^https:\/\/images\.unsplash\.com\/.*" title="Only images from images.unsplash.com allowed." placeholder="https://images.unsplash.com/..." required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" type="text" name="description" id="description" placeholder="Campground Description" rows="6" required></textarea>
            </div>
            <button class="btn btn-success btn-lg btn-block mb-2" type="submit">Submit</button>
        </form>
        <a href="/campgrounds">Go Back</a>  
     </div>
</div>



<%- include ("../partials/footer") %>